.profile-photo {
  width: 100px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

#location {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  width: 450px;
  padding: 10px;
  position: absolute;
  left: 1030px;
}

#destinations {
  margin-top: 10px;
}
