# Ignore the entire txData folder
txData/

# Ignore the entire server-files folder
server-files/

# Ignore server.cfg inside the scripts folder
scripts/server.cfg
scripts/server.cfg.bkp
start_7290_default
start_7290_default.bat